<header>

    <nav class="navbar container">

        <div class="left">
            <div class="logo">Lazy Bakers</div>
        </div>


        <div class="right">
            <a href="/users/new">New User</a>
            <a href="/users">Users</a>
            <a href="/users/tweets">Tweets</a>
        </div>

    </nav>

</header>