<header class=" header">
    <nav class="navbar container">
        <div class="right"><div class="logo">KAIROS</div></div>
        <div class="left"><div class="links">
            <a href="/watches">Watches</a>
            <a href="/watches/new">New Watch</a>
        </div></div>
    </nav>
</header>