<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    
    <%- include('../partials/nav') %>

    <main class="error-main container">
        <h3>Error</h3>
        <p><%= message %></p>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>