<!DOCTYPE html>
<html lang="en">
<%- include("../../partials/head") %>
<body>

    <%- include("../../partials/nav") %>

    <main class="new-tweet-main container">


        <form action="/users/<%= userId %>/tweets" method="POST">

            <div class="form-body">

                <h3>New Tweet</h3>

                <textarea name="tweet" id="tweet" required placeholder="Write your tweet"></textarea>

                

                <button>Submit</button>

            </div>

        </form>

    </main>

    
</body>
</html>