<!DOCTYPE html>
<html lang="en">
<%- include("../../partials/head") %>
<body>

    <%- include("../../partials/nav") %>

    <main class="new-main container">


        <form action="/users" method="POST">

            <div class="form-body">

                <h3>New User</h3>

                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="field">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="field">
                    <label for="profile-image">Profile Image</label>
                    <input type="text" id="profile-image" name="profileImage" required>
                </div>

                <button>Submit</button>

            </div>

        </form>

    </main>

    
</body>
</html>